body{
    margin: 0;
    background: #000;
}

.navbar-container{
    border: 1px solid yellow;
    margin: 0px;
    color: black;
    background-color: tomato;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.logo {
    width: 40px;
    height: 40px;
}

.title {
    font-size: 18px;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li {
    cursor: pointer;
}

.card {
    width: 260px;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    background-color: #fff;
    margin: 50px;
}

.food-image {
    width: 100%;
    height: 160px;
    border-radius: 6px;
}

.restaurant-name {
    font-size: 17px;
    margin-top: 8px;
    color: #333;
}

.ratings {
    font-size: 14px;
    color: #388e3c;
    margin-top: 4px;
}

.location {
    font-size: 14px;
    color: #666;
    margin-top: 2px;
}

.food-description {
    font-size: 13px;
    color: #777;
    margin-top: 4px;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.search-container {
    margin: 20px;
    text-align: center;
}

.form-container {
    display: inline-flex;
    gap: 10px;
}

.form-container input {
    padding: 8px;
    width: 200px;
}

.form-container button {
    padding: 8px 12px;
    cursor: pointer;
}


