body {
    background-color: #000000;
    color: #e5e5e5;
}


.header {
    display: flex;
    justify-content: space-between;
    background-color: #b11226;
    border-radius: 20px;
}


ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-left: 100px;
    margin-right: 20px;
    margin-top: 20px;
    font-weight: bolder;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 25px;
}

li:hover{
    background-color: #ffffff;
    color: #b11226;
    cursor: pointer;
    transition: all 0.3s ease;
}


.logo {
    padding-left: 15px;
    padding-top: 10px;
    color: #ffffff;
}


.search {
    margin: 15px 0px 25px 0px;
}


.resto-card {
    max-width: 1300px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.card {
    background-color: #121212;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    transition: all 0.3s ease, box-shadow 0.3s ease;
}


.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 20px;
    transition: all 0.3s ease;
}


.card h3 {
    padding: 10px 15px 5px;
    font-size: 18px;
    color: #ffffff;
}


.rating-time {
    display: flex;
    justify-content: space-between;
    padding: 0px 15px;
    font-size: 15px;
    color: #bbbbbb;
}


.flavors {
    padding: 4px 15px;
    font-size: 17px;
    color: #e0e0e0;
}

.location {
    padding: 0 15px;
    font-size: 17px;
    color: #999999;
}


.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(255, 0, 0, 0.25);
}

.card:hover img {
    transform: scale(1.05);
}

.headingContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.filter-btn {
    background-color: #b11226;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.loginButton {
    background-color: #ffffff;
    color: #b11226;
    border: none;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
}

.shimmer-wrapper{
    max-width: 1300px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.shimmer-card{
    background-color: #c1baba;
    border-radius: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
    margin-bottom: 20px;
    width: 100%;
    height: 250px;
    animation: shimmer 1.5s infinite;
    opacity: 0.7;
}

.search-input {
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 300px;
    outline: none;
}

.search-btn {
    background-color: #b11226;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
}

.searchContainer {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.errorBox{
    text-align: center;
    margin-top: 100px;
    background-color: #b11226;
    color: beige;
    padding: 10px;
}
.errorHeading{
    font-size: 36px;
    margin-bottom: 20px;
}
.errorMessage{
    font-size: 20px;
}
.errorContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutContainer{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #121212;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.05);
}
.aboutHeading{
    text-align: center;
    margin-bottom: 20px;
}
.aboutContent{
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
    text-align: center;
    
}